.container {
  top: 0;
  margin: auto;
  z-index: 3;
  height: calc(100vh 100vw);
/*  overflow-z: scroll; */
  align-items: center;
  background-size: 100*;
  /*overflow-y: scroll;*/
/*  height: 100vh;*/
}

.page1, .page2 {
  padding: 30px;
}

.page1 {
  background-color: #4F8A8B;
}
.page-header {
  text-align: center;
}
